/*Tyler Kness-Miller
INFO 2220
Professor Holmes
17 April 2019*/

body {
}

form{
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px 0;
}


#peopleList, #lstUsers{
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
    border: 1px solid black;
    display: table;
    padding: 2px;
    background-color: #73c3ff;
    width: 200px;
}

input{
    display: block;
}

input[type=text]{
    width: 90%;
    margin: 8px;
    border: none;
    border-bottom: 1px solid black;
}

input[type=password] {
    width: 90%;
    margin: 8px;
    border: none;
    border-bottom: 1px solid black;
}
input[type=text]:focus{
    outline: none;
    border-bottom: 2px solid #006776;
}

input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid #006776;
}

input[type=submit]:focus, input[type=submit]:hover, button:focus, button:hover{
    border:2px solid #006776;
}

input[type=submit], button{
    width: 100px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 4px;
}

label{
    display: block;
    margin-left: 2px;
}

a{
    display: block; 
}